@import url('https://fonts.googleapis.com/css?family=Wendy+One|Anton');


.homeHeader {
    width: 100%;
    background-color: #222222;
    display: flex;
    justify-content: center;
    position: fixed;
    height: 75px;
}

.slider {
    margin: 0vh 0vh 0vh 0vh;
}

.navbar-inverse {
    width: 100%;
    .navbar-brand {
        color: #ffffff;
        font-family: 'Wendy One';
        font-size: 9vh;
    }
}

.homeText {
    margin: -90vh 0vh 0vh 50vh;
    color: #ffffff;
    font-size: 60px;
    font-family: 'Anton', serif;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;;
}

.homeText2 {
    margin: 0vh 0vh 0vh 120vh;
    color: #ffffff;
    font-size: 60px;
    font-family: 'Anton', serif;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
}

.discoverButton {
    @include display-content-items();
    @include width-height(23vh, 5vh);
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    margin: auto;
    margin-top: 50vh;
    font-family: sans-serif;
    opacity: 0.7;
    a {
        text-decoration: none;
        color: #ffffff;
    } 
}

.slide {
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.mainContentContainer {
    height: 100vh;
}

.eventsAroundTheState {
    display: flex;
    justify-content: center;
    margin-top: 16vh;
    font-size: 18vh;
    box-shadow: 10px 10px 5px #888888;
    margin-bottom: 4vh;
    a {
        text-decoration: none;
        color: black;
    }
}

.eventOne {
    @include display-content-items();
    .eventOneImageContainer {
        @include width-height(50%, 50vh);
        border-radius: 15px;
        margin-left: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 10px 10px 5px #888888;
        .eventOneImage {
            @include width-height(101vh, 50vh);
            border-radius: 1vh;
            overflow: hidden;
        }
    }
    .eventOneDescription {
        @include width-height(45%, 35vh);
        @include description-border();
        margin-left: 3vh;
        display: flex;
        align-items: center;
        box-shadow: 10px 10px 5px #888888;
        padding: 4vh 2vh 4vh 3vh;
        overflow: scroll;
        .eventOneTitle {
            @include title-border();
            margin-right: 3vh;
            margin-left: 1vh;
            text-align: center;
            box-shadow: 10px 10px 5px #888888;
            padding: 2vh;
        }
    }
}

.eventTwo {
    @include display-content-items();
    margin-top: 3vh;
    .eventTwoImageContainer {
        @include width-height(50%, 50vh);
        background-color: black;
        border-radius: 15px;
        margin-left: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 10px 10px 5px #888888;
        .eventTwoImage {
            @include width-height(101vh, 50vh);
            border-radius: 1vh;
            overflow: hidden;
        }
    }
    .eventTwoDescription {
        @include width-height(45%, 35vh);
        @include description-border();
        margin-left: 3vh;
        display: flex;
        align-items: center;
        padding: 4vh 2vh 4vh 3vh;
        box-shadow: 10px 10px 5px #888888;
        overflow: scroll;
        .eventTwoTitle {
            @include title-border();
            margin-right: 3vh;
            margin-left: 1vh;
            text-align: center;
            box-shadow: 10px 10px 5px #888888;
            padding: 2vh;
        }
    }
}

.eventThree {
    @include display-content-items();
    margin-top: 3vh;
    .eventThreeImageContainer {
        @include width-height(50%, 50vh);
        background-color: rgba(92, 87, 87, 0.0);
        border-radius: 15px;
        margin-left: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 10px 10px 5px #888888;
        .eventThreeImage {
            @include width-height(101vh, 50vh);
            border-radius: 1vh;
            overflow: hidden;
        }
    }
    .eventThreeDescription {
        @include width-height(45%, 33vh);
        @include description-border();
        margin-left: 3vh;
        display: flex;
        align-items: center;
        box-shadow: 10px 10px 5px #888888;
        padding: 2px;
        overflow: scroll;
        .eventThreeTitle {
            @include title-border();
            margin-right: 3vh;
            margin-left: 1vh;
            text-align: center;
            box-shadow: 10px 10px 5px #888888;
            padding: 2vh;
        }
    }
}

.footer {
    @include width-height(100%, 22vh);
    margin-top: 5vh;
    background-color: #222222;
}

@media (max-width: 1118px) {
    .navbar {
        width: 900px;
        margin: auto;
    }
    .homeComponent{
        .slideShowContainer {
            .homeText {
                font-size: 45px;
                margin: -85vh 0vh 0vh 35vh;
            }
            .homeText2 {
                font-size: 45px;
                margin: 0vh 0vh 0vh 80vh;
            }
        }
    }
 }

 @media (max-width: 796px) {
     .navbar {
        width: 700px;
        margin: auto;
     }

     .homeHeader {
         .navbar-inverse {
             .container-fluid {
                 .nav navbar-nav {
                    //  display: none;
                 }
                 .navbar-header {
                     .navbar-brand {
                         font-size: 5vh;
                     }
                 }

             }
         }
     }
 }

 @media (max-width: 796px) {
    .homeComponent{
        .slideShowContainer {
            .homeText {
                font-size: 40px;
                margin: -80vh 0vh 0vh 20vh;
            }
            .homeText2 {
                font-size: 40px;
                margin: 0vh 0vh 0vh 60vh;
            }
        }
    }
 }

 @media (max-width: 320px) {
     .homeComponent{
         .eventsAroundTheState {
             font-size: 50px;
         }
        .slideShowContainer {
            width: 100%;
            .discoverButton {
                
            }
            .homeText {
                font-size: 25px;
                margin: -80vh 0vh 0vh 4vh;
            }
            .homeText2 {
                font-size: 25px;
                margin: 0vh 0vh 0vh 30vh;
            }
        }

        .eventOne {
            margin-top: 17vh;
            .eventOneImageContainer {
                @include width-height(40%, 160px);
                .eventOneImage {
                    @include width-height(40vh, 160px);
                    border-radius: 1vh;
                    overflow: hidden;
                }
            }

            .eventOneDescription {
                @include width-height(50%, 25vh);
                @include description-border();
                margin-left: 3vh;
                display: flex;
                align-items: center;
                box-shadow: 10px 10px 5px #888888;
                padding: 2px;
                overflow: scroll;
                font-size: 10px;
                .eventOneTitle {
                    @include title-border();
                    margin-right: 3vh;
                    margin-left: 1vh;
                    text-align: center;
                    box-shadow: 10px 10px 5px #888888;
                    padding: 1vh;
                    font-size: 10px;
                }
            }
        }

        .eventTwo {
            margin-top: 17vh;
            .eventTwoImageContainer {
                @include width-height(40%, 160px);
                .eventTwoImage {
                    @include width-height(40vh, 160px);
                    border-radius: 1vh;
                    overflow: hidden;
                }
            }

            .eventTwoDescription {
                @include width-height(50%, 25vh);
                @include description-border();
                margin-left: 3vh;
                display: flex;
                align-items: center;
                box-shadow: 10px 10px 5px #888888;
                padding: 2px;
                overflow: scroll;
                font-size: 10px;
                .eventTwoTitle {
                    @include title-border();
                    margin-right: 3vh;
                    margin-left: 1vh;
                    text-align: center;
                    box-shadow: 10px 10px 5px #888888;
                    padding: 1vh;
                    font-size: 10px;
                }
            }
        }

        .eventThree {
            margin-top: 17vh;
            .eventThreeImageContainer {
                @include width-height(40%, 20vh);
                .eventThreeImage {
                    @include width-height(40vh, 20vh);
                    border-radius: 1vh;
                    overflow: hidden;
                }
            }

            .eventThreeDescription {
                @include width-height(50%, 25vh);
                @include description-border();
                margin-left: 3vh;
                display: flex;
                align-items: center;
                box-shadow: 10px 10px 5px #888888;
                padding: 2px;
                overflow: scroll;
                font-size: 10px;
                .eventThreeTitle {
                    @include title-border();
                    margin-right: 3vh;
                    margin-left: 1vh;
                    text-align: center;
                    box-shadow: 10px 10px 5px #888888;
                    padding: 1vh;
                    font-size: 10px;
                }
            }
        }
    }
 }