.headerSpacing {
    height: 75px;
}

.mainContent {
    width: 48.3%;
    display: block;
    display: block;
    font-size: 8vh;
    margin: auto;
    .culinaryPicContainer {
        @include display-content-items();
        position: relative;
        .culinaryPic {
            @include width-height(140%, 50vh);
            box-shadow: 10px 10px 5px #888888;
        }
        .whiteHeader {
            @include width-height (100%, 10vh);
            background-color: #ffffff;
            position: absolute;
            margin-top: 250px;
        }
    }
    .text1 {
        text-align: center;
    }
    .btnSubmit {
        margin-top: 2vh;
        margin-left: 37vh;
        margin-bottom: 1vh;
        box-shadow: 10px 10px 5px #888888;
    }
    .formContainer {
        box-shadow: 10px 10px 5px #888888;
        margin-top: 10px;
        .whatCity1 {
            font-size: 25px;
            margin-left: 150px;
            margin-top: 10px;
            width: 35vh;
            height: 2px;
        }
        .whatCity {
            margin-left: 400px;
        }
        .whatCategory1 {
            font-size: 25px;
            margin-left: 110px;
            margin-top: 10px;
            width: 35vh;
            height: 2px;
        }
        .whatCategory {
            margin-left: 300px;
        }
        .firstName {
           text-align: center;
        }  
        .restrauntName {
            text-align: center;
            margin-top: .5vh;
        }
        .restrauntAddress {
            text-align: center;
            margin-top: .5vh;
        }
        .rating {
            text-align: center;
            margin-top: .5vh;
        }

    }
}