.formDataContainer {
    .editDeleteContainer {
        display: flex;
        justify-content: center;
    }
    .editInput {

    }
    .dataTable {
        border-spacing: 5px;
        width: 100%;
        border-collapse: collapse;
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd; 
        }
        .dataInfo1 {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            margin-left: 20px;
            align-items: center;
            align-content: stretch;
        }
    }

}
.headerSpacing {
    height: 75px;
}

.mainContent {
    width: 100%;
    display: block;
    font-size: 8vh;
    margin: auto;
    .culinaryPicContainer {
        @include display-content-items();
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        // position: relative;
        .culinaryPic {
            @include width-height(100%, 70vh);
        }
        .whiteHeader {
            width: 45%;
            border-radius: 20px;
            background-color: #ffffff;
            display: flex;
            justify-content: center;   
            align-content: flex-end;
            align-items: flex-end;
        }
    }
    .restaurantsContainer {
        width: 100%;
        height: 100vh;
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        .formDataContainer {
            padding: 10px;
            height: auto;
            font-size: 20px;
        }
        .labelContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: baseline;
            align-content: center;
            margin-bottom: 50px;
            .name {
                font-size: 30px;
            }
            .address {
                font-size: 30px;
            }
            .rating {
                font-size: 30px;
            }
            .category {
                font-size: 30px;
            }
        }

    }
    .text1 {
        text-align: center;
        margin-top: 100px;
    }

    .submitContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        .btnSubmit {
            margin-top: 15px;
        }
    }
    .formContainer {
        box-shadow: 10px 10px 5px #888888;
        margin-top: 50px;
        margin:auto; 
        width:50%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        .whatCategory1 {

        }
        // .whatCity1 {
        //     font-size: 25px;
        //     margin-left: 50px;
        //     margin-top: 10px;
        //     width: 35vh;
        //     height: 2px;
        // }
        // .whatCity {
        //     margin-left: 550px;
        //     margin-top: -50px;
        // }
        // .whatCategory1 {
        //     font-size: 25px;
        //     margin-left: 50px;
        //     margin-top: 10px;
        //     width: 35vh;
        //     height: 2px;
        // }
        // .whatCategory {
        //     margin-left: 415px;
        //     margin-top: -10px;
        // }
        .firstName {
           text-align: center;
        }  
        .restaurantName {
            text-align: center;
            margin-top: .5vh;
        }
        .restaurantAddress {
            text-align: center;
            margin-top: .5vh;
        }
        .rating {
            text-align: center;
            margin-top: .5vh;
        }

    }

}



