.headerSpacing {
    height: 75px;
}

.mainContent {
    width: 100%;
    display: block;
    display: block;
    font-size: 8vh;
    margin: auto;
    .culinaryPicContainer {
        @include display-content-items();
        position: relative;
        .culinaryPic {
            @include width-height(60%, 70vh);
            // box-shadow: 10px 10px 5px #888888;
        }
        .whiteHeader {
            width: 45%;
            border-radius: 20px;
            background-color: #ffffff;
            position: absolute;
            margin-top: 260px;
            display: flex;
            justify-content: center;   
        }
    }
    .restaurantsContainer {
        width: 100%;
        height: 99vh;
        border: 2px solid green;
        margin-top: 10vh;
    }
    .text1 {
        text-align: center;
        margin-top: 1000px;
    }
    .btnSubmit {
        margin-top: 2vh;
        magin-left: 100px;
        margin-bottom: 1vh;
        box-shadow: 10px 10px 5px #888888;
    }
    .formContainer {
        box-shadow: 10px 10px 5px #888888;
        margin-top: 10px;
        margin:auto; 
        width:50%;
        .whatCity1 {
            font-size: 25px;
            margin-left: 150px;
            margin-top: 10px;
            width: 35vh;
            height: 2px;
        }
        .whatCity {
            margin-left: 400px;
        }
        .whatCategory1 {
            font-size: 25px;
            margin-left: 110px;
            margin-top: 10px;
            width: 35vh;
            height: 2px;
        }
        .whatCategory {
            margin-left: 300px;
        }
        .firstName {
           text-align: center;
        }  
        .restrauntName {
            text-align: center;
            margin-top: .5vh;
        }
        .restrauntAddress {
            text-align: center;
            margin-top: .5vh;
        }
        .rating {
            text-align: center;
            margin-top: .5vh;
        }

    }
}