@import url("https://fonts.googleapis.com/css?family=Wendy+One|Anton");
.formDataContainer .editDeleteContainer {
  display: flex;
  justify-content: center; }

.formDataContainer .dataTable {
  border-spacing: 5px;
  width: 100%;
  border-collapse: collapse; }
  .formDataContainer .dataTable td, .formDataContainer .dataTable th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px; }
  .formDataContainer .dataTable tr:nth-child(even) {
    background-color: #dddddd; }

.headerSpacing {
  height: 75px; }

.mainContent {
  width: 100%;
  display: block;
  font-size: 8vh;
  margin: auto; }
  .mainContent .culinaryPicContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .mainContent .culinaryPicContainer .culinaryPic {
      width: 60%;
      height: 70vh; }
    .mainContent .culinaryPicContainer .whiteHeader {
      width: 45%;
      border-radius: 20px;
      background-color: #ffffff;
      position: absolute;
      margin-top: 270px;
      display: flex;
      justify-content: center; }
  .mainContent .restaurantsContainer {
    width: 100%;
    height: 100vh;
    border: 2px solid black;
    margin-top: 10vh; }
    .mainContent .restaurantsContainer .formDataContainer {
      font-size: 30px; }
    .mainContent .restaurantsContainer .citySearch {
      margin-left: 590px; }
  .mainContent .text1 {
    text-align: center;
    margin-top: 100px; }
  .mainContent .submitContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 5px; }
    .mainContent .submitContainer .btnSubmit {
      margin-top: 15px; }
  .mainContent .formContainer {
    box-shadow: 10px 10px 5px #888888;
    margin-top: 10px;
    margin: auto;
    width: 50%; }
    .mainContent .formContainer .whatCity1 {
      font-size: 25px;
      margin-left: 150px;
      margin-top: 10px;
      width: 35vh;
      height: 2px; }
    .mainContent .formContainer .whatCity {
      margin-left: 400px; }
    .mainContent .formContainer .whatCategory1 {
      font-size: 25px;
      margin-left: 110px;
      margin-top: 10px;
      width: 35vh;
      height: 2px; }
    .mainContent .formContainer .whatCategory {
      margin-left: 300px; }
    .mainContent .formContainer .firstName {
      text-align: center; }
    .mainContent .formContainer .restaurantName {
      text-align: center;
      margin-top: .5vh; }
    .mainContent .formContainer .restaurantAddress {
      text-align: center;
      margin-top: .5vh; }
    .mainContent .formContainer .rating {
      text-align: center;
      margin-top: .5vh; }

.homeHeader {
  width: 100%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 75px; }

.slider {
  margin: 0vh 0vh 0vh 0vh; }

.navbar-inverse {
  width: 100%; }
  .navbar-inverse .navbar-brand {
    color: #ffffff;
    font-family: 'Wendy One';
    font-size: 9vh; }

.homeText {
  margin: -90vh 0vh 0vh 50vh;
  color: #ffffff;
  font-size: 60px;
  font-family: 'Anton', serif;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: black; }

.homeText2 {
  margin: 0vh 0vh 0vh 120vh;
  color: #ffffff;
  font-size: 60px;
  font-family: 'Anton', serif;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: black; }

.discoverButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23vh;
  height: 5vh;
  border-radius: 25px;
  background-color: black;
  color: #ffffff;
  margin: auto;
  margin-top: 50vh;
  font-family: sans-serif;
  opacity: 0.7; }
  .discoverButton a {
    text-decoration: none;
    color: #ffffff; }

.slide {
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid; }

.mainContentContainer {
  height: 100vh; }

.eventsAroundTheState {
  display: flex;
  justify-content: center;
  margin-top: 16vh;
  font-size: 18vh;
  box-shadow: 10px 10px 5px #888888;
  margin-bottom: 4vh; }
  .eventsAroundTheState a {
    text-decoration: none;
    color: black; }

.eventOne {
  display: flex;
  justify-content: center;
  align-items: center; }
  .eventOne .eventOneImageContainer {
    width: 50%;
    height: 50vh;
    border-radius: 15px;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px #888888; }
    .eventOne .eventOneImageContainer .eventOneImage {
      width: 101vh;
      height: 50vh;
      border-radius: 1vh;
      overflow: hidden; }
  .eventOne .eventOneDescription {
    width: 45%;
    height: 35vh;
    border: 2px black solid;
    border-left: 0px;
    margin-left: 3vh;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    padding: 4vh 2vh 4vh 3vh;
    overflow: scroll; }
    .eventOne .eventOneDescription .eventOneTitle {
      border: 1px black solid;
      border-left: 0px;
      margin-right: 3vh;
      margin-left: 1vh;
      text-align: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 2vh; }

.eventTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh; }
  .eventTwo .eventTwoImageContainer {
    width: 50%;
    height: 50vh;
    background-color: black;
    border-radius: 15px;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px #888888; }
    .eventTwo .eventTwoImageContainer .eventTwoImage {
      width: 101vh;
      height: 50vh;
      border-radius: 1vh;
      overflow: hidden; }
  .eventTwo .eventTwoDescription {
    width: 45%;
    height: 35vh;
    border: 2px black solid;
    border-left: 0px;
    margin-left: 3vh;
    display: flex;
    align-items: center;
    padding: 4vh 2vh 4vh 3vh;
    box-shadow: 10px 10px 5px #888888;
    overflow: scroll; }
    .eventTwo .eventTwoDescription .eventTwoTitle {
      border: 1px black solid;
      border-left: 0px;
      margin-right: 3vh;
      margin-left: 1vh;
      text-align: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 2vh; }

.eventThree {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh; }
  .eventThree .eventThreeImageContainer {
    width: 50%;
    height: 50vh;
    background-color: rgba(92, 87, 87, 0);
    border-radius: 15px;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px #888888; }
    .eventThree .eventThreeImageContainer .eventThreeImage {
      width: 101vh;
      height: 50vh;
      border-radius: 1vh;
      overflow: hidden; }
  .eventThree .eventThreeDescription {
    width: 45%;
    height: 33vh;
    border: 2px black solid;
    border-left: 0px;
    margin-left: 3vh;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    padding: 2px;
    overflow: scroll; }
    .eventThree .eventThreeDescription .eventThreeTitle {
      border: 1px black solid;
      border-left: 0px;
      margin-right: 3vh;
      margin-left: 1vh;
      text-align: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 2vh; }

.footer {
  width: 100%;
  height: 22vh;
  margin-top: 5vh;
  background-color: #222222; }

@media (max-width: 1118px) {
  .navbar {
    width: 900px;
    margin: auto; }
  .homeComponent .slideShowContainer .homeText {
    font-size: 45px;
    margin: -85vh 0vh 0vh 35vh; }
  .homeComponent .slideShowContainer .homeText2 {
    font-size: 45px;
    margin: 0vh 0vh 0vh 80vh; } }

@media (max-width: 796px) {
  .navbar {
    width: 700px;
    margin: auto; }
  .homeHeader .navbar-inverse .container-fluid .navbar-header .navbar-brand {
    font-size: 5vh; } }

@media (max-width: 796px) {
  .homeComponent .slideShowContainer .homeText {
    font-size: 40px;
    margin: -80vh 0vh 0vh 20vh; }
  .homeComponent .slideShowContainer .homeText2 {
    font-size: 40px;
    margin: 0vh 0vh 0vh 60vh; } }

@media (max-width: 320px) {
  .homeComponent .eventsAroundTheState {
    font-size: 50px; }
  .homeComponent .slideShowContainer {
    width: 100%; }
    .homeComponent .slideShowContainer .homeText {
      font-size: 25px;
      margin: -80vh 0vh 0vh 4vh; }
    .homeComponent .slideShowContainer .homeText2 {
      font-size: 25px;
      margin: 0vh 0vh 0vh 30vh; }
  .homeComponent .eventOne {
    margin-top: 17vh; }
    .homeComponent .eventOne .eventOneImageContainer {
      width: 40%;
      height: 160px; }
      .homeComponent .eventOne .eventOneImageContainer .eventOneImage {
        width: 40vh;
        height: 160px;
        border-radius: 1vh;
        overflow: hidden; }
    .homeComponent .eventOne .eventOneDescription {
      width: 50%;
      height: 25vh;
      border: 2px black solid;
      border-left: 0px;
      margin-left: 3vh;
      display: flex;
      align-items: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 2px;
      overflow: scroll;
      font-size: 10px; }
      .homeComponent .eventOne .eventOneDescription .eventOneTitle {
        border: 1px black solid;
        border-left: 0px;
        margin-right: 3vh;
        margin-left: 1vh;
        text-align: center;
        box-shadow: 10px 10px 5px #888888;
        padding: 1vh;
        font-size: 10px; }
  .homeComponent .eventTwo {
    margin-top: 17vh; }
    .homeComponent .eventTwo .eventTwoImageContainer {
      width: 40%;
      height: 160px; }
      .homeComponent .eventTwo .eventTwoImageContainer .eventTwoImage {
        width: 40vh;
        height: 160px;
        border-radius: 1vh;
        overflow: hidden; }
    .homeComponent .eventTwo .eventTwoDescription {
      width: 50%;
      height: 25vh;
      border: 2px black solid;
      border-left: 0px;
      margin-left: 3vh;
      display: flex;
      align-items: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 2px;
      overflow: scroll;
      font-size: 10px; }
      .homeComponent .eventTwo .eventTwoDescription .eventTwoTitle {
        border: 1px black solid;
        border-left: 0px;
        margin-right: 3vh;
        margin-left: 1vh;
        text-align: center;
        box-shadow: 10px 10px 5px #888888;
        padding: 1vh;
        font-size: 10px; }
  .homeComponent .eventThree {
    margin-top: 17vh; }
    .homeComponent .eventThree .eventThreeImageContainer {
      width: 40%;
      height: 20vh; }
      .homeComponent .eventThree .eventThreeImageContainer .eventThreeImage {
        width: 40vh;
        height: 20vh;
        border-radius: 1vh;
        overflow: hidden; }
    .homeComponent .eventThree .eventThreeDescription {
      width: 50%;
      height: 25vh;
      border: 2px black solid;
      border-left: 0px;
      margin-left: 3vh;
      display: flex;
      align-items: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 2px;
      overflow: scroll;
      font-size: 10px; }
      .homeComponent .eventThree .eventThreeDescription .eventThreeTitle {
        border: 1px black solid;
        border-left: 0px;
        margin-right: 3vh;
        margin-left: 1vh;
        text-align: center;
        box-shadow: 10px 10px 5px #888888;
        padding: 1vh;
        font-size: 10px; } }

@media (max-width: 604px) {
  .homeComponent .eventsAroundTheState {
    font-size: 40px; }
  .homeComponent .slideShowContainer {
    width: 100%; }
    .homeComponent .slideShowContainer .homeText {
      font-size: 35px;
      margin: -80vh 0vh 0vh 5vh; }
    .homeComponent .slideShowContainer .homeText2 {
      font-size: 35px;
      margin: 0vh 0vh 0vh 40vh; }
  .eventOneDescription {
    width: 50%;
    height: 25vh;
    border: 2px black solid;
    border-left: 0px;
    margin-left: 3vh;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    padding: 2px;
    overflow: scroll;
    font-size: 10px; }
    .eventOneDescription .eventOneTitle {
      border: 1px black solid;
      border-left: 0px;
      margin-right: 3vh;
      margin-left: 1vh;
      text-align: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 1vh;
      font-size: 14px; }
  .eventTwoDescription {
    width: 50%;
    height: 25vh;
    border: 2px black solid;
    border-left: 0px;
    margin-left: 3vh;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    padding: 2px;
    overflow: scroll;
    font-size: 10px; }
    .eventTwoDescription .eventTwoTitle {
      border: 1px black solid;
      border-left: 0px;
      margin-right: 3vh;
      margin-left: 1vh;
      text-align: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 1vh;
      font-size: 14px; }
  .eventThreeDescription {
    width: 50%;
    height: 25vh;
    border: 2px black solid;
    border-left: 0px;
    margin-left: 3vh;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    padding: 2px;
    overflow: scroll;
    font-size: 10px; }
    .eventThreeDescription .eventThreeTitle {
      border: 1px black solid;
      border-left: 0px;
      margin-right: 3vh;
      margin-left: 1vh;
      text-align: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 1vh;
      font-size: 14px; }
  .eventOne .eventOneImageContainer {
    width: 40%;
    height: 20vh; }
    .eventOne .eventOneImageContainer .eventOneImage {
      width: 40vh;
      height: 25vh;
      border-radius: 1vh;
      overflow: hidden; }
  .eventTwo .eventTwoImageContainer {
    width: 40%;
    height: 20vh; }
    .eventTwo .eventTwoImageContainer .eventTwoImage {
      width: 40vh;
      height: 25vh;
      border-radius: 1vh;
      overflow: hidden; }
  .eventThree .eventThreeImageContainer {
    width: 40%;
    height: 20vh; }
    .eventThree .eventThreeImageContainer .eventThreeImage {
      width: 40vh;
      height: 25vh;
      border-radius: 1vh;
      overflow: hidden; } }

@media (max-width: 444px) {
  .homeComponent .eventsAroundTheState {
    font-size: 35px; }
  .homeComponent .slideShowContainer {
    width: 100%; }
    .homeComponent .slideShowContainer .homeText {
      font-size: 25px;
      margin: -80vh 0vh 0vh 5vh; }
    .homeComponent .slideShowContainer .homeText2 {
      font-size: 25px;
      margin: 0vh 0vh 0vh 30vh; }
  .eventOneDescription {
    width: 50%;
    height: 25vh;
    border: 2px black solid;
    border-left: 0px;
    margin-left: 3vh;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    padding: 2px;
    overflow: scroll;
    font-size: 10px; }
    .eventOneDescription .eventOneTitle {
      border: 1px black solid;
      border-left: 0px;
      margin-right: 3vh;
      margin-left: 1vh;
      text-align: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 1vh;
      font-size: 11px; }
  .eventTwoDescription {
    width: 50%;
    height: 25vh;
    border: 2px black solid;
    border-left: 0px;
    margin-left: 3vh;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    padding: 2px;
    overflow: scroll;
    font-size: 10px; }
    .eventTwoDescription .eventTwoTitle {
      border: 1px black solid;
      border-left: 0px;
      margin-right: 3vh;
      margin-left: 1vh;
      text-align: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 1vh;
      font-size: 11px; }
  .eventThreeDescription {
    width: 50%;
    height: 25vh;
    border: 2px black solid;
    border-left: 0px;
    margin-left: 3vh;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    padding: 2px;
    overflow: scroll;
    font-size: 10px; }
    .eventThreeDescription .eventThreeTitle {
      border: 1px black solid;
      border-left: 0px;
      margin-right: 3vh;
      margin-left: 1vh;
      text-align: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 1vh;
      font-size: 11px; }
  .eventOne .eventOneImageContainer {
    width: 30%;
    height: 20vh; }
    .eventOne .eventOneImageContainer .eventOneImage {
      width: 30vh;
      height: 20vh;
      border-radius: 1vh;
      overflow: hidden; }
  .eventTwo .eventTwoImageContainer {
    width: 30%;
    height: 20vh; }
    .eventTwo .eventTwoImageContainer .eventTwoImage {
      width: 30vh;
      height: 20vh;
      border-radius: 1vh;
      overflow: hidden; }
  .eventThree .eventThreeImageContainer {
    width: 30%;
    height: 20vh; }
    .eventThree .eventThreeImageContainer .eventThreeImage {
      width: 30vh;
      height: 20vh;
      border-radius: 1vh;
      overflow: hidden; } }

@media (max-width: 328px) {
  .homeComponent .eventsAroundTheState {
    font-size: 35px; }
  .homeComponent .slideShowContainer {
    width: 100%; }
    .homeComponent .slideShowContainer .discoverButton {
      font-size: 10px; }
    .homeComponent .slideShowContainer .homeText {
      font-size: 18px;
      margin: -80vh 0vh 0vh 1vh; }
    .homeComponent .slideShowContainer .homeText2 {
      font-size: 18px;
      margin: 0vh 0vh 0vh 16vh; }
  .eventOneDescription {
    width: 50%;
    height: 25vh;
    border: 2px black solid;
    border-left: 0px;
    margin-left: 3vh;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    padding: 2px;
    overflow: scroll;
    font-size: 10px; }
    .eventOneDescription .eventOneTitle {
      border: 1px black solid;
      border-left: 0px;
      margin-right: 3vh;
      margin-left: 1vh;
      text-align: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 1vh;
      font-size: 11px; }
  .eventTwoDescription {
    width: 50%;
    height: 25vh;
    border: 2px black solid;
    border-left: 0px;
    margin-left: 3vh;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    padding: 2px;
    overflow: scroll;
    font-size: 10px; }
    .eventTwoDescription .eventTwoTitle {
      border: 1px black solid;
      border-left: 0px;
      margin-right: 3vh;
      margin-left: 1vh;
      text-align: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 1vh;
      font-size: 11px; }
  .eventThreeDescription {
    width: 50%;
    height: 25vh;
    border: 2px black solid;
    border-left: 0px;
    margin-left: 3vh;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    padding: 2px;
    overflow: scroll;
    font-size: 10px; }
    .eventThreeDescription .eventThreeTitle {
      border: 1px black solid;
      border-left: 0px;
      margin-right: 3vh;
      margin-left: 1vh;
      text-align: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 1vh;
      font-size: 11px; }
  .eventOne .eventOneImageContainer {
    width: 30%;
    height: 20vh; }
    .eventOne .eventOneImageContainer .eventOneImage {
      width: 30vh;
      height: 20vh;
      border-radius: 1vh;
      overflow: hidden; }
  .eventTwo .eventTwoImageContainer {
    width: 30%;
    height: 20vh; }
    .eventTwo .eventTwoImageContainer .eventTwoImage {
      width: 30vh;
      height: 20vh;
      border-radius: 1vh;
      overflow: hidden; }
  .eventThree .eventThreeImageContainer {
    width: 30%;
    height: 20vh; }
    .eventThree .eventThreeImageContainer .eventThreeImage {
      width: 30vh;
      height: 20vh;
      border-radius: 1vh;
      overflow: hidden; } }

.spaceForNavBar {
  width: 100%;
  height: 8vh; }

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; }

.popularNowTitle {
  width: 75vh;
  height: 8vh;
  border: 1px black solid;
  border-left: 0px;
  font-size: 5vh;
  background-color: green; }
