@import url("https://fonts.googleapis.com/css?family=Wendy+One|Anton");
.headerSpacing {
  height: 75px; }

.mainContent {
  width: 48.3%;
  display: block;
  display: block;
  font-size: 8vh;
  margin: auto; }
  .mainContent .culinaryPicContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .mainContent .culinaryPicContainer .culinaryPic {
      width: 140%;
      height: 50vh;
      box-shadow: 10px 10px 5px #888888; }
    .mainContent .culinaryPicContainer .whiteHeader {
      width: 100%;
      height: 10vh;
      background-color: #ffffff;
      position: absolute;
      margin-top: 250px; }
  .mainContent .text1 {
    text-align: center; }
  .mainContent .btnSubmit {
    margin-top: 2vh;
    margin-left: 37vh;
    margin-bottom: 1vh;
    box-shadow: 10px 10px 5px #888888; }
  .mainContent .formContainer {
    box-shadow: 10px 10px 5px #888888;
    margin-top: 10px; }
    .mainContent .formContainer .whatCity1 {
      font-size: 25px;
      margin-left: 150px;
      margin-top: 10px;
      width: 35vh;
      height: 2px; }
    .mainContent .formContainer .whatCity {
      margin-left: 400px; }
    .mainContent .formContainer .whatCategory1 {
      font-size: 25px;
      margin-left: 110px;
      margin-top: 10px;
      width: 35vh;
      height: 2px; }
    .mainContent .formContainer .whatCategory {
      margin-left: 300px; }
    .mainContent .formContainer .firstName {
      text-align: center; }
    .mainContent .formContainer .restrauntName {
      text-align: center;
      margin-top: .5vh; }
    .mainContent .formContainer .restrauntAddress {
      text-align: center;
      margin-top: .5vh; }
    .mainContent .formContainer .rating {
      text-align: center;
      margin-top: .5vh; }

.homeHeader {
  width: 100%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 75px; }

.slider {
  margin: 0vh 0vh 0vh 0vh; }

.navbar-inverse .navbar-brand {
  color: #ffffff;
  font-family: 'Wendy One';
  font-size: 9vh; }

.homeText {
  margin: -90vh 0vh 0vh 50vh;
  color: #ffffff;
  font-size: 60px;
  font-family: 'Anton', serif;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: black; }

.homeText2 {
  margin: 0vh 0vh 0vh 120vh;
  color: #ffffff;
  font-size: 60px;
  font-family: 'Anton', serif;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: black; }

.discoverButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23vh;
  height: 5vh;
  border-radius: 25px;
  background-color: black;
  color: #ffffff;
  margin: auto;
  margin-top: 50vh;
  font-family: sans-serif;
  opacity: 0.7; }
  .discoverButton a {
    text-decoration: none;
    color: #ffffff; }

.slide {
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid; }

.mainContentContainer {
  height: 100vh; }

.eventsAroundTheState {
  display: flex;
  justify-content: center;
  margin-top: 16vh;
  font-size: 18vh;
  box-shadow: 10px 10px 5px #888888;
  margin-bottom: 4vh; }
  .eventsAroundTheState a {
    text-decoration: none;
    color: black; }

.eventOne {
  display: flex;
  justify-content: center;
  align-items: center; }
  .eventOne .eventOneImageContainer {
    width: 50%;
    height: 50vh;
    border-radius: 15px;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px #888888; }
    .eventOne .eventOneImageContainer .eventOneImage {
      width: 101vh;
      height: 50vh;
      border-radius: 1vh; }
  .eventOne .eventOneDescription {
    width: 45%;
    height: 35vh;
    border: 2px black solid;
    border-left: 0px;
    margin-left: 3vh;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    padding: 4vh 2vh 4vh 3vh; }
    .eventOne .eventOneDescription .eventOneTitle {
      border: 1px black solid;
      border-left: 0px;
      margin-right: 3vh;
      margin-left: 1vh;
      text-align: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 2vh; }

.eventTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh; }
  .eventTwo .eventTwoImageContainer {
    width: 50%;
    height: 50vh;
    background-color: black;
    border-radius: 15px;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px #888888; }
    .eventTwo .eventTwoImageContainer .eventTwoImage {
      width: 101vh;
      height: 50vh;
      border-radius: 1vh; }
  .eventTwo .eventTwoDescription {
    width: 45%;
    height: 35vh;
    border: 2px black solid;
    border-left: 0px;
    margin-left: 3vh;
    display: flex;
    align-items: center;
    padding: 4vh 2vh 4vh 3vh;
    box-shadow: 10px 10px 5px #888888; }
    .eventTwo .eventTwoDescription .eventTwoTitle {
      border: 1px black solid;
      border-left: 0px;
      margin-right: 3vh;
      margin-left: 1vh;
      text-align: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 2vh; }

.eventThree {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh; }
  .eventThree .eventThreeImageContainer {
    width: 50%;
    height: 50vh;
    background-color: rgba(92, 87, 87, 0);
    border-radius: 15px;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px #888888; }
    .eventThree .eventThreeImageContainer .eventThreeImage {
      width: 101vh;
      height: 50vh;
      border-radius: 1vh; }
  .eventThree .eventThreeDescription {
    width: 45%;
    height: 33vh;
    border: 2px black solid;
    border-left: 0px;
    margin-left: 3vh;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    padding: 2px; }
    .eventThree .eventThreeDescription .eventThreeTitle {
      border: 1px black solid;
      border-left: 0px;
      margin-right: 3vh;
      margin-left: 1vh;
      text-align: center;
      box-shadow: 10px 10px 5px #888888;
      padding: 2vh; }

.footer {
  width: 100%;
  height: 22vh;
  margin-top: 5vh;
  background-color: #222222; }

.spaceForNavBar {
  width: 100%;
  height: 8vh; }

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; }

.popularNowTitle {
  width: 75vh;
  height: 8vh;
  border: 1px black solid;
  border-left: 0px;
  font-size: 5vh;
  background-color: green; }
