@import url('https://fonts.googleapis.com/css?family=Wendy+One');

.homeHeader {
    height: 8vh;
    background-color: #222222;
    display: flex;
    justify-content: center;
}

.navbar-brand {
    color: #ffffff;
    font-family: 'Wendy One';
    font-size: 8vh;
}

.slider {
    margin: 0vh 0vh 0vh 0vh;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.homeText {
    margin: -90vh 0vh 0vh 50vh;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Wendy One';
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;;
}

.homeText2 {
    margin: 0vh 0vh 0vh 120vh;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Wendy One';
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
}
