.spaceForNavBar {
    @include width-height(100%, 8vh);
}

.titleContainer {
    @include display-content-items();
    margin: auto;
}

.popularNowTitle {
    @include width-height( 75vh, 8vh);
    @include title-border();
    font-size: 5vh;
    background-color: green;
}